<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akashali.eusaserviceprovider">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EUSA Service Provider"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity android:name=".GetInfoStepFour"></activity>
        <activity android:name=".GetInfoStepThree" />
        <activity android:name=".GetInfoStepTwo" />
        <activity android:name=".GetInfoStepOne" />
        <activity android:name=".ServiceProviderReceiveVerificationCode" />
        <activity android:name=".ServiceProviderPhoneVerification" />
        <activity android:name=".ApplyForWork" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".UpdateEmailAddress" />
        <activity android:name=".UpdatePhoneNumber" />
        <activity android:name=".UpdateLastName" />
        <activity android:name=".UpdateFirstName" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Notifications" />
        <activity android:name=".Settings" />
        <activity android:name=".Payment" />
        <activity android:name=".History" />
        <activity android:name=".BasicSearch" />
        <activity android:name=".Login" />
        <activity
            android:name=".ui.login.Login"
            android:label="@string/title_activity_login"
            tools:ignore="MissingClass" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MyApp" />
    </application>

</manifest>